.layout-body {
    display: flex;
  }
  
  .main-content {
    flex: 1; /* takes remaining space */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f7fa;
    min-height: 100vh;
  }

  .dashboard-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout-body {
    flex: 1;
    display: flex;
  }
  
  